<div class="col-md-12">
  <app-card>
    <div class="row">
      <div class="div-left col-md-12">
        <form [formGroup]="form" (ngSubmit)="montarDadosParaSalvar()">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Titulo</label>
              <input
                type="text"
                class="form-control"
                formControlName="titulo_compromisso"
              />
            </div>
            <div class="col-md-2">
              <label class="form-label">Data</label>
              <input
                type="date"
                class="form-control"
                formControlName="data_compromisso"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="form-label">Inicio</label>
              <input
                type="time"
                class="form-control"
                formControlName="horario_inicio"
              />
            </div>
            <div class="col-md-2">
              <label class="form-label">Fim</label>
              <input
                type="time"
                class="form-control"
                formControlName="horario_fim"
              />
            </div>
            <div class="col-md-4 mt-1-9">
              <button
                type="button"
                (click)="form.reset()"
                class="btn btn-primary"
              >
                Limpar
              </button>
              <button type="submit" class="btn btn-success ml-10">
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="div-right col-md-3">
        <app-calendar
          [selectedDate]="selDate"
          [heatmap]="heatmap"
          [openPage]="selDate"
          (change)="dateChanged($event)"
          #simpleCalender
          (monthChange)="monthChanged($event)"
          [highlightToday]="highlightToday"
          [ColorMap]="colorMap"
          (submitDateOpenModal)="viewEventCalendar($event)"
        >
        </app-calendar>
      </div>
    </div>
  </app-card>
</div>
<app-modal-table #modalTable [compromissos]="compromissos"></app-modal-table>
