<div class="div-dad ">
  <div class="div-up">
    <form [formGroup]="form" (ngSubmit)="montarDadosParaSalvar()">
      <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row ">
            <div class="col-md-3">
              <label class="form-label">Titulo</label>
              <input type="text" class="form-control" formControlName='titulo_compromisso'>
            </div>
            <div class="col-md-3">
              <label class="form-label">Data</label>
              <input type="date" class="form-control" formControlName='data_compromisso'>
            </div>
            <div class="col-md-3">
              <label class="form-label">Horario Inicio</label>
              <input type="time" class="form-control" formControlName='horario_inicio'>
            </div>
            <div class="col-md-3">
              <label class="form-label">Horario Fim</label>
              <input type="time" class="form-control" formControlName='horario_fim'>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-end">
              <button type="button" (click)="form.reset()" class="btn btn-primary">Limpar</button>
              <button type="submit" class="btn btn-light ml-10">Salvar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="div-down row d-flex justify-content-center mt-3">
    <div class="col-md-12">
      <table class="table table-responsive table-striped table-success ">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Data Compromisso</th>
            <th scope="col">Horario Inicio</th>
            <th scope="col">Horario Fim</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of compromissos">
          <tr>
            <th scope="row">{{item.data.titulo_compromisso}}</th>
            <td>{{item.data.data_compromisso}}</td>
            <td>{{item.data.horario_inicio}}</td>
            <td>{{item.data.horario_fim}}</td>
            <td><i (click)="removerData(item.id)" class="bi bi-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>